{% extends 'layout.html' %}

{% block content %}

<script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
<script>

  $( document ).ready(function() {
          $("#doctor-container-contextual").load("/creer-docteur");

  });

</script>

<div id="container">

  <nav id="navbar" class="navbar navbar-dark bg-inverse">
    <ul id="navbar-content" class="nav navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" onclick="loadGridDoctor()">Voir les docteurs<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" onclick="loadFormDoctor()">Ajouter un docteur</a>
      </li>

    </ul>
  </nav>

  <div id="doctor-container-contextual">
  </div>

</div>

{% endblock %}
