<div class="row main">
      <div class="panel-heading">
         <div class="panel-title text-center">
            <h3 class="title">Ajouter une adresse</h3>
            <hr />
          </div>
      </div>

      <div class="main-login main-center">
        <form class="form-horizontal" method="post" action="{{ url_for('send_address') }}">

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input required type="text" class="form-control" name="num" id="num" placeholder="Numéro" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input required type="text" class="form-control" name="street" id="street"  placeholder="Rue" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input required type="text" class="form-control" name="codepost" id="codepost"  placeholder="Code postal" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input required type="text" class="form-control" name="city" id="city"  placeholder="Ville" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input required type="text" class="form-control" name="country" id="country"  placeholder="Pays" required />
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                <textarea name="indication" id="indication" class="form-control" placeholder="indication" required></textarea>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Valider</button>
          </div>

        </form>
      </div>
    </div>