<table id="grid-employee" class="table table-condensed table-hover table-striped" data-toggle="bootgrid" >
  <thead>
    <tr>
      <th data-column-id="id" data-type="numeric" data-sortable="false" data-identifier="true">id</th>
      <th data-column-id="is_admin" data-sortable="false">Admin</th>
      <th data-column-id="lastname" data-sortable="false">Nom</th>
      <th data-column-id="firstname" data-sortable="false">Prénom</th>
      <th data-column-id="pseudo" data-sortable="false">Pseudo</th>
      <th data-column-id="email" data-sortable="false" >Email</th>
      <th data-column-id="num_tel" data-sortable="false">Téléphone</th>
      <th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
    </tr>
  </thead>
</table>

<div id="edit_model" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modifier un employée</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="frm_edit">
          <input type="hidden" value="edit" name="action" id="action">
          <input type="hidden" value="0" name="edit_id" id="edit_id">
          <div class="form-group">
            <label for="salary" class="control-label">Admin:</label>
            <select name="edit_admin" class="form-control" id="edit_admin">
              <option value="true">Oui</option> 
              <option value="false">Non</option>
            </select>
          </div>
          <div class="form-group">
            <label for="salary" class="control-label">Nom:</label>
            <input type="text" class="form-control" id="edit_lastname" name="edit_lastname"/>
          </div>
          <div class="form-group">
            <label for="salary" class="control-label">Prénom:</label>
            <input type="text" class="form-control" id="edit_firstname" name="edit_firstname"/>
          </div>
          <div class="form-group">
            <label for="salary" class="control-label">Pseudo:</label>
            <input type="text" class="form-control" id="edit_pseudo" name="edit_pseudo"/>
          </div>
           <div class="form-group">
            <label for="name" class="control-label">Email:</label>
            <input type="text" class="form-control" id="edit_email" name="edit_email"/>
          </div>
          <div class="form-group">
            <label for="name" class="control-label">Téléphone:</label>
            <input type="text" class="form-control" id="edit_phone" name="edit_phone"/>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="btn_edit" data-dismiss="modal" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename="js/eventEmployee.js") }}"></script>

